body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  background: #f0f0f0;
  font-family: "Source Sans Pro", arial, helvetica, sans-serif; }

img {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-style: none;
  padding: 0;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

input {
  padding: 0;
  margin: 0;
  border-radius: 0; }

span {
  margin: 0;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0; }

input, button {
  margin: 0;
  padding: 0; }

.BodyWrapper {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }
  .BodyWrapper .Container {
    display: table-cell;
    vertical-align: middle; }
  .BodyWrapper .Search_Content {
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: 300px;
    box-sizing: border-box; }

.Search_Content {
  margin: 30px;
  background: #F8F8F8;
  border-radius: 6px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3); }
  .Search_Content .Search_TopBar {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
    border-radius: 5px 5px 0 0;
    text-align: center; }
    .Search_Content .Search_TopBar h5 {
      font-size: 15px;
      padding: 10px 0; }
  .Search_Content .Search_Heading {
    padding: 10px 0; }
    .Search_Content .Search_Heading h2 {
      font-size: 20px;
      line-height: 1.5em;
      padding: 10px 0;
      color: #444;
      position: relative;
      overflow: hidden;
      text-align: center; }
    .Search_Content .Search_Heading p {
      display: block;
      font-size: 13px;
      color: #444;
      line-height: 1.5rem;
      margin-bottom: 20px;
      text-align: center; }

.easy-autocomplete-container ul {
  border: thin solid #d0d0d0;
  background-color: #fff; }
  .easy-autocomplete-container ul li {
    list-style-type: none;
    padding: 5px 10px; }
  .easy-autocomplete-container ul li.selected {
    background: none repeat scroll 0 0 #ebebeb;
    cursor: pointer; }

.Search .Results {
  width: 60%;
  margin: 0 auto;
  height: auto; }

.Results_list li {
  list-style-type: none;
  padding: 5px 0; }
  .Results_list li.attribute {
    color: #444; }
  .Results_list li.value {
    color: #444; }

.Search_Content .Search_Panel {
  margin: 0 auto;
  padding: 5px;
  padding-left: 10px;
  width: 80%; }
  .Search_Content .Search_Panel .Search_PanelForm {
    position: relative;
    padding-right: 50px;
    box-sizing: border-box;
    width: 100%;
    position: relative; }

.Search_PanelForm .Search_InputWrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 4px;
  border: 1px solid #dadada;
  background: #fff; }
  .Search_PanelForm .Search_InputWrapper .Search_Input {
    font-size: 13px;
    box-shadow: none;
    line-height: normal;
    background: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 35px;
    padding: 2px 4px;
    font-weight: 200;
    color: #666666; }
  .Search_PanelForm .Search_InputWrapper .SearchSpan {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 20px; }
    .Search_PanelForm .Search_InputWrapper .SearchSpan .Search_Input {
      font-size: 13px;
      box-shadow: none;
      line-height: normal;
      border: none;
      outline: none;
      width: 100%;
      color: #666666; }
    .Search_PanelForm .Search_InputWrapper .SearchSpan .Search_cross {
      color: #666666;
      font-size: 16px;
      cursor: pointer;
      line-height: 1;
      color: #777777;
      position: absolute;
      top: 5px;
      right: -4px;
      z-index: 500; }
.Search_PanelForm .Search_ButtonWrapper {
  color: #FFF;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 0;
  height: 42px;
  width: 42px; }
  .Search_PanelForm .Search_ButtonWrapper .Search_Button {
    cursor: pointer;
    border: thin solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e5e5e5;
    background-image: url("../Images/search-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
    text-align: center;
    width: 40px;
    height: inherit;
    background-color: #444; }

/*# sourceMappingURL=style.css.map */
