.Search_Content {

	.Search_Panel {
		margin: 0 auto;
	    padding: 5px;
	    padding-left: 10px;
	    width: 80%;
		.Search_PanelForm {
			position: relative;
    		padding-right: 50px;
    		box-sizing: border-box;
		    width: 100%;
		    position: relative;
		}
	}
}

.Search_PanelForm {

	.Search_InputWrapper {
		position: relative;
	    box-sizing: border-box;
	    width: 100%;
	    overflow: hidden;
	    padding: 4px;
    	border: 1px solid #dadada;
    	background: #fff;

  		.Search_Input {
			font-size: 13px;
			box-shadow: none;
		    line-height: normal;
		    background: none;
		    box-sizing: border-box;
		    border: none;
		    outline: none;
		    height: 35px;
		    padding: 2px 4px;
		    font-weight: 200;
    		color: #666666;
		}
		
		.SearchSpan {
			position: relative;
			display: inline-block;
			box-sizing:border-box;
			margin-right: 20px;

			.Search_Input {

				font-size: 13px;
				box-shadow: none;
			    line-height: normal;
			    border: none;
			    outline: none;
			    width: 100%;
	    		color: #666666;
			}

			.Search_cross {
				color: #666666;
				font-size: 16px;
				cursor: pointer;
			    line-height: 1;
			    color: #777777;
			    position: absolute;
			    top: 5px;
			    right: -4px;
			    z-index: 500;
			}
		}

	}

	.Search_ButtonWrapper {
		color: #FFF;
	    padding: 2px;
	    position: absolute;right: 0;top: 0;
	    height: 42px;
	    width: 42px;
		.Search_Button {
			cursor:pointer;
			border: thin solid #e5e5e5;
			box-shadow:1px 1px 1px 1px #e5e5e5;
			background-image: url('../Images/search-icon.png');
			background-repeat: no-repeat;
			background-position: center center; 
			background-size:25px 25px;
			text-align:center;
			width: 40px;
			height: inherit;
			background-color: #444;

		}
	}
}