.BodyWrapper {

		display: table;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	.Container {

		display: table-cell;
    	vertical-align: middle;
	}

	.Search_Content {
		position:relative;
		margin: 0 auto;
		width: 60%;
		height: auto;
		box-sizing: border-box;
	}
}


.Search_Content {

	margin: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);

	.Search_TopBar {
    		margin: 0 auto;
			box-sizing: border-box;
			background-color: #444;
			color: #fff;
			border-radius: 5px 5px 0 0;
			text-align: center;
			h5{
				font-size: 15px;
				padding: 10px 0
			}
    	}

	.Search_Heading {
		padding: 10px 0;
		h2 {

			font-size: 20px;
		    line-height: 1.5em;
		    padding: 10px 0;
		    color: #444;
		    position: relative;
		    overflow: hidden;
		    text-align: center;
		}

		p {

			display: block;
			font-size: 13px;
			color: #444;
			line-height: 1.5rem;
			margin-bottom: 20px;
			text-align: center;
		}
	}
}


.Search_Content {

	.Search_Wrapper {
		position:relative;
		width: 60%;
		height:40px;
		margin: 0 auto;
		box-sizing: border-box;
		margin-bottom: 60px;
		.Search_Input {

			border-radius: 5px;
		    border: 2px solid #fff;
		    margin:0 auto;
		    border: thin solid #e5e5e5;
		    box-shadow:0px 1px 1px 1px #e5e5e5;
		    padding: 3px 5px;
		    width: 100%;
		    height: inherit;
			box-sizing: border-box;
			width: 100%;
			font-size: 13px;
			color: #444;

			&:focus {
				outline: none;
			}
		}

		.Search_Button{

			position:absolute; right:0; top: 0;
			cursor:pointer;
			border: thin solid #e5e5e5;
			box-shadow:1px 1px 1px 1px #e5e5e5;
			background-image: url('../Images/search-icon.png');
			background-repeat: no-repeat;
			background-position: center center; 
			background-size:25px 25px;
			text-align:center;
			border-radius: 5px;
			width: 40px;
			height: inherit;
			background-color: #444;

			&:focus {
				outline: none;
			}
		}
	}

}


